/*-----------------------------------*\
	BLOCKS COLOR PALETTE
\*-----------------------------------*/
.has-white-background-color {
  background-color: #f8f8f8;
}

.has-white-color {
  color: #f8f8f8;
}

.has-light-gray-background-color {
  background-color: #eeeeee;
}

.has-light-gray-color {
  color: #eeeeee;
}

.has-gray-background-color {
  background-color: #dddddd;
}

.has-gray-color {
  color: #dddddd;
}

.has-dark-gray-background-color {
  background-color: #9a9a9a;
}

.has-dark-gray-color {
  color: #9a9a9a;
}

.has-black-background-color {
  background-color: #252525;
}

.has-black-color {
  color: #252525;
}

/*-----------------------------------*\
	MEDIA + TEXT
\*-----------------------------------*/
.wp-block-media-text {
  margin: 6em auto;

  &.alignwide {
    max-width: 1024px;
  }

  &.alignfull {
    max-width: 100%;
  }
}

/*-----------------------------------*\
	ACF BLOCKS
\*-----------------------------------*/
