/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/
button,
.button,
.wp-block-button__link {
	margin: 0.5em 1em;
	padding: 0.5em 2em;
	box-shadow: none;
	transition: all 0.35s linear;
	font-size: 14px;
	font-weight: 600;
	background-color: #B3611E;
	border: 2px solid #B3611E;
	border-radius: 50px;
	color: var(--White);
	cursor: pointer;
	font-family: 'Open Sans Bold';
	text-decoration: none;
	letter-spacing: 1px;

	&:hover,
	&:focus,
	&.is-hover {
		background-color: var(--DarkOrange);
		border: 2px solid var(--DarkOrange);
	}

	&.is-secondary {
		background-color: var(--White);
		border: 2px solid #B3611E;
		color: #B3611E;

		&:hover,
		&:focus,
		&.is-hover {
			background-color: #B3611E;
			color: var(--White);
		}
	}
}

.wp-block-button {
	margin: 0 auto;

	&.alignleft .wp-block-button__link {
		float: left;
		margin: 0.5em 1em 0.5em 0;
	}

	&.alignright .wp-block-button__link {
		float: right;
		margin: 0.5em 0 0.5em 1em;
	}

	&.aligncenter .wp-block-button__link {
		display: inline-block;
		margin: 1em auto;
	}
}