/*-----------------------------------*\
	EMBED VIDEOS
\*-----------------------------------*/
figure.wp-block-embed-youtube,
figure.wp-block-embed-vimeo {
  margin: 4em auto;
  margin-right: auto;
  margin-left: auto;

  &.alignleft,
  &.alignright,
  &.aligncenter {
    max-width: 800px;
  }

  &.alignwide {
    max-width: 1024px;
  }

  &.alignfull {
    max-width: 100%;
    width: 100%;
  }

  & p {
    margin: 0;
  }
}

/*-----------------------------------*\
	AUDIO
\*-----------------------------------*/
figure.wp-block-embed-soundcloud {
  margin: 4rem auto;
  max-width: 650px;

  &.alignleft,
  &.alignright,
  &.aligncenter {
    max-width: 650px;
    width: 90%;
  }

  &.alignwide {
    max-width: 1024px;
    width: 100%;
  }

  &.alignfull {
    max-width: 100%;
    width: 100%;
  }
}


/*-----------------------------------*\
	TWITTER EMBED
\*-----------------------------------*/
.wp-block-embed-twitter {
  max-width: 650px;

  &.alignleft,
  &.alignright,
  &.aligncenter {
    max-width: 650px;
    width: 90%;
  }

  &.alignwide {
    max-width: 1024px;
  }

  &.alignfull {
    max-width: 100%;
  }

  & .twitter-tweet-rendered {
    margin: 0 auto;
  }
}

/*-----------------------------------*\
	INSTAGRAM EMBED
\*-----------------------------------*/
.wp-block-embed-instagram {
  max-width: 650px;

  &.alignleft,
  &.alignright,
  &.aligncenter,
  &.alignwide,
  &.alignfull {
    max-width: 650px;
    width: 90%;
  }

  & iframe {
    margin: 0 auto !important;
  }
}
