/*-----------------------------------*\
	QUOTES
\*-----------------------------------*/
blockquote,
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 4rem auto;
	max-width: 650px;
	width: 80%;
	font-size: 1.3em;
	line-height: 1.5;
	padding: 0 2em;
	position: relative;

	@media(--800vp) {
		padding: 0 4em;
	}

	&:before {
		content: '';
		position: absolute;
		width: 3px;
		height: 100%;
		left: 1em;
		background-color: var(--Orange);

		@media(--800vp) {
			left: 3em;
		}
	}

	& p {
		font-size: 20px;

		@media(--800vp) {
			font-size: 26px;
		}
	}
}

.wp-block-pullquote {
	margin: 4rem auto;
	padding: 2rem 1rem;
	max-width: 650px;
	width: 80%;
	font-size: 1.3em;
	line-height: 1.5;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 650px;
	}

	&.alignwide {
		max-width: 1024px;
	}

	&.alignfull {
		padding: 4rem 2rem;
		max-width: 100%;
		width: 100%;
		border: none;
		background-color: var(--Grey);
	}

	& blockquote {
		margin: 0 auto;
		padding: 0;

		& p {
			margin: 0;
		}
	}
}