/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/

@font-face {
	font-family: 'Sarabun Light';
	src: url('../fonts/Sarabun-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Sarabun SemiBold';
	src: url('../fonts/Sarabun-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Sarabun ExtraBold';
	src: url('../fonts/Sarabun-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans Bold';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

/*-----------------------------------*\
	FONT SIZE PALETTE
\*-----------------------------------*/
.has-xs-font-size {
	font-size: 14px;
}

.has-small-font-size {
	font-size: 16px;
}

.has-medium-font-size {
	font-size: 18px;
}

.has-large-font-size {
	font-size: 24px;
}

.has-xl-font-size {
	font-size: 32px;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	letter-spacing: 1px;
	font-family: 'Sarabun ExtraBold';
	color: var(--DarkBlue);
	line-height: 1.2;
}

h1 {
	font-size: 40px;

	@media(--800vp) {
		font-size: 50px;
	}
}

h2 {
	font-size: 36px;

	@media(--800vp) {
		font-size: 46px;
	}
}

h3 {
	font-size: 28px;

	@media(--800vp) {
		font-size: 30px;
	}
}

h4 {
	font-size: 26px;
	color: var(--Blue);
}

h5 {
	font-size: 24px;
	color: var(--Blue);
}

h6 {
	font-size: 22px;
	color: var(--Blue);
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p {
	color: var(--DarkBlue);
	font-size: 14px;

	&.has-drop-cap:not(:focus)::first-letter {
		font-size: 6em;
	}

	& a {
		color: var(--DarkBlue);
		text-decoration: none;
		position: relative;

		&:after {
			content: "";
			height: 2px;
			width: 100%;
			background: var(--DarkBlue);
			position: absolute;
			bottom: -4px;
			left: 0;
			transition: all .25s ease-in-out;
		}

		&:hover,
		&:focus {
			&:after {
				bottom: -6px;
			}
		}
	}
}

/*-----------------------------------*\
	LIST
\*-----------------------------------*/
ol,
ul {
	&.has-2-columns {
		column-count: 1;

		@media(--500vp) {
			column-count: 2;

			& li {
				padding-right: 1em;
			}
		}
	}

	&.has-3-columns {
		column-count: 1;

		@media(--500vp) {
			margin: 4em auto;
			max-width: 1024px;
			column-count: 3;

			& li {
				padding-right: 1em;
			}
		}
	}

	&.has-4-columns {
		column-count: 1;

		@media(--500vp) {
			column-count: 2;

			& li {
				padding-right: 1em;
			}
		}

		@media(--800vp) {
			margin: 4em auto;
			max-width: 1024px;
			column-count: 4;
		}
	}
}

ol,
ul {
	list-style: none;
	padding-left: 0;
}

li {
	position: relative;
	font-size: 14px;
	background-size: 10px;
	background-position: 0 12px;
	background-repeat: no-repeat;
	line-height: 2.5;
	padding-left: 30px;
}

ul {
	& li {
		background-image: url('../images/list-bullet.svg');
	}
}

ol {
	counter-reset: number-counter;

	& li {
		counter-increment: number-counter;

		&:before {
			content: counter(number-counter);
			position: absolute;
			left: 0;
			color: var(--Blue);
			font-weight: bold;
		}
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr,
.wp-block-separator {
	color: var(--Orange);
	margin: 3em auto;

	&.is-style-wide {
		margin: 6em auto;
		max-width: 1024px;
	}

	&.is-style-dots::before {
		font-weight: bold;
		font-size: 35px;
	}
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table,
.wp-block-table {
	margin: 2rem auto;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 800px;
		width: 100%;
	}

	&.alignwide {
		width: 1024px;
	}

	&.alignfull {
		max-width: 90%;
	}
}