/*----------------------------------------------------------------*\
	CONTACT FORM SECTION
\*----------------------------------------------------------------*/
section.contact-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 1em 8em;
	max-width: 1050px;
	margin: 0 auto;

	& img {
		z-index: 2;
		width: 100%;
		height: 100%;
	}

	&>div {
		margin-top: -6em;
		background-color: var(--Blue);
		border-radius: 6px;
		padding: 6em 1em 3em;

		@media(--500vp) {
			padding: 6em 4em 3em;
		}

		@media(--800vp) {
			margin-top: -10em;
		}

		& form {
			& h3 {
				color: var(--White);
			}

			& label {
				color: var(--White);
			}

			& input,
			& select,
			& textarea {
				&:focus {
					border: 2px solid var(--Orange);
				}
			}

			& .gform_footer {
				display: flex;
				justify-content: center;

				& button {
					margin: 3em 0 0;
					background-color: var(--White);
					color: var(--Orange);

					&:hover,
					&:focus {
						background-color: var(--Orange);
						color: var(--White);
					}
				}
			}
		}
	}
}