/*----------------------------------------------------------------*\
	SERVICES REPEATER SECTION
\*----------------------------------------------------------------*/
section.half-image {
	padding: 4em 2em;

	&.blue {
		background-color: var(--Blue);
		margin-top: 4em;
		position: relative;
		padding: 18em 2em 4em;

		@media(--800vp) {
			padding: 4em 2em;
		}

		&:after {
			content: '';
			background-image: url(../images/girl-on-phone-blob.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 100%;
			height: 400px;
			position: absolute;
			top: -8em;
			left: -100px;

			@media(--800vp) {
				height: 550px;
				top: 6em;
				left: -350px;
			}

			@media(--1050vp) {
				height: 650px;
				left: -400px;
			}

			@media(--1200vp) {
				height: 767px;
				left: -500px;
			}
		}

		&>div {
			&>div {
				& h3 {
					color: var(--White);
				}

				& p {
					color: var(--White);
				}
			}
		}
	}

	&>div {
		max-width: 1050px;
		margin: 0 auto;
		z-index: 2;
		position: relative;

		&>div {
			width: 100%;
			margin-left: auto;

			@media(--800vp) {
				width: 50%;
			}

			& h6 {
				& a {
					color: var(--Blue);
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}

			& p {
				&:last-of-type {
					margin-top: 2em;
				}

				& a.button {
					margin: 0;

					&:after {
						display: none;
					}
				}
			}
		}
	}
}