/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 75px 1em;

	& h1 {
		margin: 0;
	}
}