/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--Neutral);
	padding: 48px 0 72px 0;

	&>div:first-child {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		width: 90%;
		margin: 0 auto 24px auto;

		& a.logo svg {
			width: 171px;
			height: 56px;
		}

		& a.memberships img {
			height: 72px;
			width: auto;
		}
	}

	& .copyright {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		width: 90%;
		margin: 0 auto;

		& p a {
			margin: 0 8px;
			display: inline-block
		}
	}
}

/*-----------------------------------*\
	E5 CREDIT
\*-----------------------------------*/
#element5-credit {
	position: relative;
	padding-left: 1em;
	overflow: hidden;
	width: 167px;
	height: 51.25px;

	&[data-emergence=visible] a {
		transform: translateX(0);
	}

	& a {
		position: absolute;
		top: 4px;
		right: 0;
		transform: translateX(125%);
		transition: .25s all linear;
	}
}