/*----------------------------------------------------------------*\
	SERVICES REPEATER SECTION
\*----------------------------------------------------------------*/
section.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 4em 2em 0;
	max-width: 1050px;
	margin: 0 auto;
	position: relative;

	&:before {
		content: '';
		background-image: url('../images/blob.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 1200px;
		width: 1200px;
		position: absolute;
		top: -14%;
		right: -80%;
		z-index: -1;
		display: none;

		@media(--800vp) {
			display: block;
		}
	}

	&:after {
		content: '';
		background-image: url('../images/blob-2.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 1200px;
		width: 1200px;
		position: absolute;
		top: 28em;
		left: -75%;
		z-index: -1;
		display: none;

		@media(--800vp) {
			display: block;
		}
	}

	& h2 {
		text-align: center;
		width: 100%;
		margin-bottom: 2em;
	}

	&>div {
		width: 100%;
		margin-bottom: 4em;

		@media(--800vp) {
			width: 46%;
		}

		& img {
			max-width: 100px;
			height: 87px;
		}

		& p:last-of-type {
			margin-top: 2em;
		}
	}

	&>p {
		width: 100%;
		text-align: center;

		& a.button {
			margin: 0;

			&:after {
				display: none;
			}
		}
	}
}