/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1050vp (min-width: 1050px);
@custom-media --1200vp (min-width: 1200px);

div {
	@media(--500vp) {
		box-sizing: inherit;
	}

	@media(--800vp) {
		box-sizing: inherit;
	}

	@media(--1050vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*-----------------------------------*\
	UNIVERSAL
\*-----------------------------------*/
html {
	box-sizing: border-box;
	background: var(--White);
	font-size: 16px;
	font-family: 'Sarabun Light';
	line-height: 1.75;
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.page {
	& article {
		padding: 0 2em;
	}
}

/*-----------------------------------*\
	WORDPRESS ADMIN BAR
\*-----------------------------------*/
.kaui-mini-toolbar #wpadminbar {
	top: 10%;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0px;
	left: 0;
	transform: translateY(-100%);
	z-index: 999999;
	transition: all .35s linear;

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
	position: relative;

	&>article {
		margin: 4em 0;

		&>*:not(section) {
			margin-right: auto;
			margin-left: auto;
			max-width: 800px;
		}
	}
}

/*-----------------------------------*\
	LOGO DEFAULT COLORS
\*-----------------------------------*/
.logo-icon {
	fill: #d06308;
}

.logo-text {
	fill: #001a25;
}

#logo-orange {
	fill: #d06308;
}