/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
:root {
	--SmallWidth: 800px;
	--Width: 960px;
	--LargeWidth: 1200px;
	--LargeSpacing: 4em;
	--Spacing: 2em;
	--SmallSpacing: 1.5em;
	--Orange: #C5691E;
	--DarkOrange: #AC4E02;
	--Neutral: #F1E1D3;
	--DarkBlue: #041A25;
	--Blue: #007298;
	--LightBlue: #C4DBE1;
	--White: #ffffff;
	--Grey: #DEE8EB;
	--Black: #252525;
}