/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	max-width: var(--LargeWidth);
	margin: var(--LargeSpacing) auto var(--SmallSpacing) auto;
	text-align: center;

	& a {
		margin: 0 .5em;
	}
}