/*----------------------------------------------------------------*\
	COMING SOON TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-coming-soon {
	background-color: var(--Blue);

	& .primary-navigation {
		background-color: var(--White);

		& nav {
			justify-content: center;
		}
	}

	& main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		min-height: 100vh;
	}

	& main>article {
		padding: 2em 4em;

		& .wp-block-image img {
			max-width: 300px;
		}

		& h1 {
			color: var(--White);
		}

		& h2 {
			color: var(--White);
		}

		& p {
			color: var(--White);
		}

		& .gform_wrapper {
			max-width: 400px;

			& label {
				color: var(--White);
			}
		}

		& .gform_footer {
			text-align: center;
		}
	}

	& footer.post-footer {
		background-color: var(--DarkBlue);

		& .copyright p {
			color: var(--White);
		}
	}
}