/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-confirmation {
	& main {
		position: relative;
		width: 100%;
		overflow: hidden;
		padding-bottom: 200px;

		@media(--800vp) {
			padding-bottom: 500px;
		}

		&:before {
			content: '';
			background-image: url('../images/blob-2.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			height: 1400px;
			width: 1400px;
			position: absolute;
			top: 10em;
			left: -400px;
			z-index: -1;

			@media(--500vp) {
				width: 270%;
				top: 10em;
				left: -70%;
			}

			@media(--800vp) {
				width: 1400px;
				left: -60%;
				top: 10em;
			}

			@media(--1050vp) {
				width: 1200px;
				left: -22%;
				top: 10em;
			}

			@media(--1200vp) {
				width: 100%;
				top: 10em;
				left: -20%;
			}
		}

		&:after {
			content: '';
			background-image: url(../images/coffee-blob.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 100%;
			height: 370px;
			position: absolute;
			top: 2em;
			right: -160px;
			z-index: -1;

			@media(--500vp) {
				height: 370px;
				right: -300px;
			}

			@media(--800vp) {
				height: 767px;
				right: -500px;
			}

			@media(--1050vp) {
				right: -600px;
			}

			@media(--1200vp) {
				right: -600px;
			}
		}

		& article {
			margin: 0 auto;
			max-width: 1200px;
			padding: 2em;

			@media(--1200vp) {
				padding: 0;
			}

			&>*:not(section) {
				max-width: inherit;
			}

			& h1 {
				max-width: initial;
				margin-top: 2em;
				font-size: 22px;
				width: 200px;
				margin-right: 0;
				margin-left: 0;

				@media(--500vp) {
					width: auto;
					font-size: 30px;
					padding-right: 36%;
				}

				@media(--800vp) {
					font-size: 40px;
					padding-right: 30%;
				}

				@media(--1050vp) {
					font-size: 50px;
				}
			}

			& p {
				font-size: 14px;

				&.large {
					font-size: 14px;
					width: 120px;
					margin-right: 0;
					margin-left: 0;

					@media(--500vp) {
						width: auto;
						padding-right: 36%;
					}

					@media(--800vp) {
						font-size: 20px;
					}
				}
			}

			& .margin-bot {
				margin-bottom: 2em;
			}

			& .wp-block-button__link {
				margin: 0;
			}
		}
	}
}