/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
.home {
	& main {
		position: relative;
		width: 100%;
		overflow: hidden;

		&:after {
			content: '';
			background-image: url(../images/win3-hero.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: 100%;
			height: 370px;
			position: absolute;
			top: 2em;
			right: -200px;
			z-index: -1;

			@media(--500vp) {
				height: 370px;
				right: -300px;
			}

			@media(--800vp) {
				height: 767px;
				right: -500px;
			}

			@media(--1050vp) {
				right: -600px;
			}

			@media(--1200vp) {
				right: -600px;
			}
		}

		& article {
			margin: 0 auto;
			max-width: 1200px;
			padding: 2em;

			@media(--1200vp) {
				padding: 0;
			}

			&>*:not(section) {
				max-width: inherit;
			}

			& h1 {
				max-width: initial;
				margin-top: 2em;
				font-size: 22px;
				width: 200px;
				margin-right: 0;
				margin-left: 0;

				@media(--500vp) {
					width: auto;
					font-size: 30px;
					padding-right: 36%;
				}

				@media(--800vp) {
					font-size: 40px;
					padding-right: 30%;
				}

				@media(--1050vp) {
					font-size: 50px;
				}
			}

			& p {
				font-size: 14px;

				&.large {
					font-size: 14px;
					width: 150px;
					margin-right: 0;
					margin-left: 0;

					@media(--500vp) {
						width: auto;
						padding-right: 36%;
					}

					@media(--800vp) {
						font-size: 20px;
					}
				}
			}

			& .margin-bot {
				margin-bottom: 2em;
			}

			& .enterprise {
				margin-bottom: 4em;
				position: relative;

				&:before {
					content: '';
					background-image: url('../images/blob.svg');
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					height: 800px;
					width: 100%;
					position: absolute;
					top: 20em;
					right: -60%;
					z-index: -1;

					@media(--800vp) {
						width: 70%;
						top: -20em;
						right: -40%;
					}
				}

				& .wp-block-column {
					flex-basis: 100%;
					margin-left: 0;
					margin-right: 0;

					@media(--800vp) {
						flex-basis: 50%;
					}

					@media(--1050vp) {
						flex-basis: 30%;
					}

					&:first-of-type {
						flex-basis: 100%;

						@media(--800vp) {
							flex-basis: 50%;
						}

						@media(--1050vp) {
							flex-basis: 70%;
						}
					}
				}
			}

			& .convenience {

				@media(--800vp) {
					padding-left: 10%;
				}

				& .wp-block-column {
					flex-basis: 100%;
					margin-left: 0;
					margin-right: 0;
					order: 2;

					@media(--800vp) {
						flex-basis: 50%;
						order: 1;
					}

					@media(--1050vp) {
						flex-basis: 30%;
					}

					&:last-of-type {
						flex-basis: 100%;
						order: 1;

						@media(--800vp) {
							flex-basis: 50%;
							order: 2;
						}

						@media(--1050vp) {
							flex-basis: 70%;
						}
					}
				}
			}

			& .wp-block-button__link {
				margin: 0;
			}

			& #gform_wrapper_4 {
				padding: 10em 0;
				width: 100%;
				margin-right: 0;
				margin-left: 0;

				@media(--800vp) {
					width: 50%;
				}

				&:before {
					content: '';
					background-image: url('../images/blob-2.svg');
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					height: 1400px;
					width: 1400px;
					position: absolute;
					top: 10em;
					left: -400px;
					z-index: -1;

					@media(--500vp) {
						width: 270%;
						top: 10em;
						left: -70%;
					}

					@media(--800vp) {
						width: 1400px;
						left: -60%;
						top: 10em;
					}

					@media(--1050vp) {
						width: 1200px;
						left: -22%;
						top: 10em;
					}

					@media(--1200vp) {
						width: 100%;
						top: 10em;
						left: -20%;
					}
				}
			}
		}
	}
}