/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	position: sticky;
	top: 0;
	background-color: var(--White);
	z-index: 999;
	transition: all .25s linear;
	border-bottom: 0 solid #eef3f5;

	&.is-stuck {
		border-bottom: 7px solid #eef3f5;

		& nav {
			@media(--1200vp) {
				padding: 1em 0;
			}

			&>a {
				& svg {
					width: 108px;
					height: 35px;
				}
			}
		}
	}

	& nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: 1em;
		transition: all .25s linear;

		@media(--1200vp) {
			padding: 2em 0;
			max-width: 1200px;
		}

		&>a {
			display: flex;

			&.button {
				margin: 0;
				padding: .2em 1em;

				@media(--800vp) {
					padding: .5em 2em;
				}

				& span {
					display: none;

					@media(--800vp) {
						display: block;
						padding-right: 2px;
					}
				}
			}

			& svg {
				transition: all .25s linear;
				width: 108px;
				height: 35px;

				@media(--800vp) {
					width: 160px;
					height: 52px;
				}
			}
		}
	}
}